<div class="container">
    <div *ngIf="successMessage" class="container d-flex align-items-center justify-content-end m-4">
      <h5 class="text-success p-2">{{ message }}</h5>
    </div>

  <div *ngIf="errorMessage" class="container d-flex align-items-center justify-content-end m-4">
    <h5 class="text-danger p-2">{{ messagingError }}</h5>
  </div>
</div>

<div class="container d-flex align-items-center justify-content-center vh-100">
    <div class="card" style="width: 600px;">
        <div class="card-header bg-info text-white text-center">
            <h4>Create User</h4>
        </div>
        <div class="card-body">
            <form *ngIf="userForm" [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="inputFirstName" class="form-label">First Name</label>
                    <input formControlName="first_name" type="text" class="form-control" id="inputFirstName">
                    <div class="alert alert-danger" *ngIf="userForm.get('first_name') && userForm.get('first_name')?.touched && userForm.get('first_name')?.['invalid']">
                        <div *ngIf="userForm.get('first_name')?.errors?.['required']">First Name Cannot be Empty</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="inputLastName" class="form-label">Last Name</label>
                    <input formControlName="last_name" type="text" class="form-control" id="inputLastName">
                    <div class="alert alert-danger" *ngIf="userForm.get('last_name') && userForm.get('last_name')?.touched && userForm.get('last_name')?.['invalid']">
                        <div *ngIf="userForm.get('last_name')?.errors?.['required']">Last Name Cannot be Empty</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Email address</label>
                    <input formControlName="email" type="email" class="form-control" id="inputEmail">
                    <div class="alert alert-danger" *ngIf="userForm.get('email') && userForm.get('email')?.touched && userForm.get('email')?.['invalid']">
                        <div *ngIf="userForm.get('email')?.errors?.['required']">Email Cannot be Empty</div>
                        <div *ngIf="userForm.get('email')?.errors?.['email']">Please enter a valid Email address</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input formControlName="password" type="password" class="form-control" id="inputPassword">
                    <div class="alert alert-danger" *ngIf="userForm.get('password') && userForm.get('password')?.touched && userForm.get('password')?.['invalid']">
                        <div *ngIf="userForm.get('password')?.errors?.['required']">Password Cannot be Empty</div>
                        <div *ngIf="userForm.get('password')?.errors?.['pattern']">Password must contain at least one lowercase letter, one uppercase letter, one digit, one special character, and be at least 8 characters long</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="inputPhoneNumber" class="form-label">Phone Number (e.g., +2347068053647)</label>
                    <input formControlName="phone_number" type="tel" class="form-control" id="inputPhoneNumber">
                </div>
                <div class="mb-3">
                    <label for="inputDateOfBirth" class="form-label">Date of Birth</label>
                    <input formControlName="date_of_birth" type="date" class="form-control" id="inputDateOfBirth" placeholder="mm/dd/yyyy">
                    <div class="alert alert-danger" *ngIf="userForm.get('date_of_birth')?.touched && userForm.get('date_of_birth')?.errors?.['required']">Date of birth is required</div>
                    <div class="alert alert-danger" *ngIf="userForm.get('date_of_birth')?.touched && userForm.get('date_of_birth')?.errors?.['pattern']">Invalid date of birth format (mm/dd/yyyy)</div>
                    <div class="alert alert-danger" *ngIf="userForm.get('date_of_birth')?.touched && userForm.get('date_of_birth')?.errors?.['minimumAge']">You must be at least 18 years old</div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Create Account</button>
                </div>
            </form>
        </div>
        <div class="row mb-1">
            <div class="col-1 d-flex justify-content-end mt-2">
            </div>
            <div class="col-10 d-flex justify-content-end mt-2">
                <p class="text-success text-sm "><button class="border-0" routerLink="/users">See List of Users </button></p>
            </div>

            <div class="col-1 d-flex justify-content-start">
                <button class="btn  border-0 rounded  text-warning">
                    <p></p>
                </button>
            </div>
        </div>
    </div>
</div>
